.feature-container {
  display: flex;
  height: 90vh;
  gap: 10vw;
}

.feature-container img {
  flex: 1;
}

.illustrator-img {
}

.feature-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45vw;
}

.feature-content-container h1 {
  font-size: 40px;
}

.feature-content-container p {
  color: #4f5665;
}

.feature-content-container ul {
  list-style: none;
  line-height: 25px;
  color: #4f5665;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .feature-container {
    flex-direction: column-reverse;
    height: 100vh;
    gap: 10px;
  }

  .illustrator-img {
    height: 40vh;
  }

  .feature-content-container h1 {
    font-size: 30px;
  }

  .feature-content-container {
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .feature-content-container h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .feature-content-container h1 {
    font-size: 24px;
    text-align: center;
  }
}
