.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.nav-container img {
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;

  padding: 0;
}

.nav-container ul li a {
  text-decoration: none;
  color: #4f5665;
}

.btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #0b132a;
}

.btn-outline {
  color: #f53855;

  border: 1px solid #f53855;
  border-radius: 50px;

  padding: 4px 24px;
  text-decoration: none;
}

.btn-outline:hover {
  background-color: #f53855;
  color: white;
}

.btns {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.menu,
.close {
  display: none;
}

.mob-links {
  display: none;
  transition: all 2s;
}

.mob-btn {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu,
  .close {
    z-index: 999999;
  }

  .mob-links {
    display: flex;
    height: 100vh;
    width: 60vw;
    z-index: 99;
    position: fixed;
    color: #0b132a;
    flex-direction: column;
    top: 0;
    right: 0;
    /* justify-content: flex-end; */
    /* margin-top: 30vh; */
    background: white;
    justify-content: space-around;

    gap: 20px;
  }

  .close {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: -8px;
  }

  .mob-links ul a {
    cursor: pointer;
  }
  .mob-links ul {
    display: flex !important;
    flex-direction: column;
    padding: 30px;
  }

  .mob-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
  }

  .btn {
    width: fit-content;
  }

  .menu,
  .close {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #f53855;
  }

  .links {
    display: none !important;
  }

  .btns {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .mob-links {
    display: flex;
    height: 100vh;
    width: 70vw;
    z-index: 99;
    position: fixed;
    color: #0b132a;
    flex-direction: column;
    top: 0;
    right: 0;
    /* justify-content: flex-end; */
    /* margin-top: 30vh; */
    background: white;
    justify-content: space-around;

    gap: 20px;
  }
}
