.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.nav-container img {
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;

  padding: 0;
}

.nav-container ul li a {
  text-decoration: none;
  color: #4f5665;
}

.btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #0b132a;
}

.btn-outline {
  color: #f53855;

  border: 1px solid #f53855;
  border-radius: 50px;

  padding: 4px 24px;
  text-decoration: none;
}

.btn-outline:hover {
  background-color: #f53855;
  color: white;
}

.btns {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
