.partner-container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .partner-container {
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
  .partner-container img {
    height: 5vh;
  }
}

@media screen and (max-width: 400px) {
  .partner-container {
  }
}
