/* .a-container {
  height: fit-content;
  /* display: flex; */

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  transform: translateY(10vh);
}

.testimonial-container p {
  color: #4f5665;
}

.reviews {
  display: flex;
  width: 100%;
  min-width: fit-content;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
  transition: all 2s;

  height: 30vh;
  align-items: center;
}

.sliding-points {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  /* width: fit-content; */
  /* margin-right: auto; */
  justify-content: space-between;
}

.points-container {
  display: flex;
  gap: 10px;
}

.rectangle {
  width: 21px;
  height: 8px;
  border-radius: 20px;
  background: #f53838;
}

.circle {
  width: 8px;
  height: 8px;
  background: #dde0e4;
  border-radius: 50%;
}

.hide-review {
  display: none;
}
.a-review {
  display: block;
}

@media screen and (max-width: 600px) {
  .testimonial-container h1 {
    text-align: center;
  }
}
