.vpn-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 5px;
}

.vpn-detail-container p {
  color: #4f5665;
}

.vpn-detail-container img {
  height: 60vh;
}

@media screen and (max-width: 700px) {
  .vpn-detail-container h1 {
    text-align: center;
  }
  .vpn-detail-container img {
    height: 80vh;
    width: 100%;
  }
  .vpn-detail-container {
    height: 100vh;
  }
}
